[Desktop Entry]
Name=Formula 1
Comment=Little fake F1 Game and Watch game
Terminal=false
Type=Application
Exec=main.elf
Icon=Formula1
Categories=games
