[Desktop Entry]
Type=Application
Name=Formula 1
Comment=Little, fake, F1 Game & Watch game
Exec=main.elf
Icon=filesystem/icon
Terminal=false
Categories=games;